.container {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
}

.linksHome {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.375rem;
}

.linksHome:hover {
}

.links {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex: 0 0 120px;
}

.links > a {
  text-decoration: none;
}
