.container {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  background-color: var(--color-white);
}

.linksHome {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.375rem;
}

.linksHome:hover {
}

.links {
  margin-left: 20px;
}
