/* Global styles for the entire app */

* {
  box-sizing: border-box;
}

:root {
  --color-text: #222;
  --color-white: #fff;
  --color-light-gray: #dbdbdb;
  --color-red: #f14668;
  --color-blue: #3273dc;
  --color-blue-light: #209cee;
  --color-purple: #b86bff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
  color: var(--color-text);
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

a {
  color: var(--color-blue);
}

a:visited {
  color: var(--color-purple);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* TODO: make a shared component in shared/ */
.btn {
  background-color: var(--color-white);
  border-color: var(--color-light-gray);
  border-width: 1px;
  border-radius: 4px;
  color: var(--color-text);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  height: 40px;
  font-size: 1rem;
}

.btn-primary {
  background-color: var(--color-blue);
  color: var(--color-white);
}