.header__container {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.header__links--home {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.375rem;
}

.header__links--home:hover {

}

.header__links {
  margin-left: 20px;
}